* {
    font-size: 16px;
}

html, body {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
  }

  
h2 {
    font-size: 2rem;
  }

  
h3 {
    font-size: 1.5rem;
  }

.redLine {
    position: fixed;
    width: 0.2rem;
    height: 100%;
    left: 13rem;
    background-color: #c01717;
    border-left: 1px solid #F43E3F;
    border-radius: 1px solid #F43E3F;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
/* Header start */

header {
    top: 0%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 0 1rem;
}

nav {
    background-color: #E5E5E5;
    border: 1px solid #cecece;
    display: flex;
    border-radius: 10%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 1rem;
}

nav li {
    padding-right: 1rem;
}

nav li:last-child {
    padding-right: 0; 
}

.welcome {
    text-align: center;
}



.myName {
    font-size: 2rem;
    font-weight: bold;
}

/* Header end */


  /* About me section start */

.aboutMe  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.fadingImgContainer img {
    max-width: 100%;
}

.fadingImgContainer {
    max-width: 19.3rem;
    display: flex;
    margin-right: 20rem;
    transform: translateY(-5.5rem);
    overflow: hidden;
    max-height: 20rem;
}

.aboutMeTxtContainer {
    max-width: 14rem;
    display: flex;
    margin-right: .5rem;
}

/* Img container animation */



#img2, #img3, #img4, #img5 {
    display: none;
}

.fadingImgContainer__overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    z-index: 1;
    background-color: black;
    animation: slideDown 1s ease-out 2s  forwards, slideUp 1s linear 4s forwards;
}




/* Img container animation */

/* About me section end */
  
  
/* skills section start */

.skill-and-projects-container {
    display: flex;
    max-width: 100%;
    height: 25rem;
}

.skills {
    width: 75%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
}

.skillsContentContainer {
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}



.skillsList{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.skillsList li {
    display: inline-block;
    margin-right: 0.5rem;
}

.skillsList img {
    max-width: 4rem;
    transform: '';
    transition: transform 0.5s ease-in-out;
}


/* skills section end */



/* Projects section start */
.projects {
    width: 25%;
    color: white;
    background-color: black;
    padding-left: 2rem;
}



/* Projects section end */

/* Footer start */

.footerContentContainer {
    margin-left: 13.5rem;
}

.footerContentContainer ul {
    list-style: none;
    margin-left: 2rem;
}


.footerContentContainer h3 {
    margin-bottom: 0.8rem;
}

.footerContentContainer li a {
    color: #b70000;
    font-size: 1.3rem;
    text-decoration: none;
    text-shadow: 1px 1px #D9D9D9;
}

.staggerLink {
    margin-left: 1.5rem;
    line-height: 2;
}

/* Footer end */

/* screen size changes */

@media screen and (max-width: 1290px) {
    .redLine {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .aboutMe  {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 20rem;
    }
    .fadingImgContainer {
        max-width: 19.3rem;
        display: flex;
        margin-right: 0rem;
        transform: translateY(0);
        overflow: hidden;
        max-height: 20rem;
    }
    .fadingImgContainer__overlay {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        z-index: 1;
        background-color: black;
        animation: slideDown 1s ease-out 2s  forwards, slideUp 1s linear 4s forwards;
    }
}

@media screen and (max-width: 480px) {
    header {
        top: 0%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D9D9D9;
        padding: 0 1rem;
    }

    header h1 {
        display: none;
    }
    nav {
        margin-left: 2rem;
    }
    nav, ul {
        flex-direction: column;
    }

    nav li {
        padding-right: 0rem;
        padding-bottom: 0.6rem;
    }
    
    nav li:last-child {
        padding-right: 0;
        padding-bottom: 0; 
    }

    .aboutMe {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .fadingImgContainer {
        max-width: 19.3rem;
        display: flex;
        margin-right: 0rem;
        transform: translateY(0);
        overflow: hidden;
        max-height: 20rem;
        height: 10rem;
    }
    .fadingImgContainer img {
        height: 12rem;
    }

    .skill-and-projects-container {
        flex-direction: column;
    }
    .skills {
        width: 100%;
    }
    .projects {
        width: 100%;
    }
    
}